.user-bubble {
    background-color: #95e1eb;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.user-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    border-width: 10px 1px 2px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #95e1eb;
    transform: translateY(-50%);
}

.bot-bubble {
    background-color: #9ed4f3;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.bot-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 1px;
    border-style: solid;
    border-color: transparent #9ed4f3 transparent transparent;
    transform: translateY(-50%);
}