.user-bubble {
    background-color: #F8F377;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.user-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    border-width: 7px 1px 4px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #F8F377;
    transform: translateY(-50%);
}

.bot-bubble {
    background-color: #CDD4F6;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.bot-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 7px 10px 4px 1px;
    border-style: solid;
    border-color: transparent #CDD4F6 transparent transparent;
    transform: translateY(-50%);
}

/* Error bubbles */
.error-bubble {
    background-color: #FFCDD2; /* 빨간색 톤의 말풍선 배경색 */
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.error-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 7px 10px 4px 1px;
    border-style: solid;
    border-color: transparent #FFCDD2 transparent transparent;
    transform: translateY(-50%);
}
