.user-bubble {
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.user-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #e0f7fa;
    transform: translateY(-50%);
}

.bot-bubble {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.bot-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #e0e0e0 transparent transparent;
    transform: translateY(-50%);
}